<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">E-CART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/items' routerLinkActive="active" >ITEMS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/cart' routerLinkActive="active" ><mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
            <span class="cdk-visually-hidden">
              Example with a home icon with overlaid badge showing the number 15
            </span></a>
        </li>
        
      </ul>
    </div>
  </nav>
